* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url("../img/istockphoto-471627217-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
main {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title {
  font-size: 2rem;
}
.circle {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 100;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle::before {
  content: '';
  border-radius: 100%;
  z-index: -1;
  position: absolute;
  width: 270px;
  height: 270px;
  background-color: #1d1d1d;
}
.stopwatch {
  font-size: 2.4rem;
}
.seconds-sphere {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  /* left: calc(50% - 10px);
  top: calc(50% - 10px); */
  animation: rotacion 60s linear infinite;
  animation-play-state: paused;
}
@keyframes rotacion {
  from {transform: rotate(-90deg) translateX(93px);}
  to {transform: rotate(270deg) translateX(93px);}
}
.buttons {
  margin-top: 10px;
  /* display: inline-flex; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.paused {
  background-color: #1d1d1d00;
  border: none;
  margin-left: 15px;
 /*  height: 10px;
  border-width: 10px 0 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 15px;
  border-color: transparent transparent transparent #fff; */
  transition: 100ms all ease;
  will-change: border-width;
  /* border-style: solid; */
}
.paused .fa-circle-dot {
  font-size: 25px;
  color: #fff;
}
/* .running {
  border-style: double;
  border-width: 0 0 0 10px;
} */
.stop {
  background: #1d1d1d00;
  border: none;
}
.stop .fa-circle-stop {
  font-size: 25px;
  color: #fff;
}